/* Move down content because we have a fixed navbar that is 3.5rem tall */
@font-face {
  font-family:'Freight Sans';
  font-style:normal;
  font-weight:normal;
  src:  url('./font/BhgNmSeanJb.woff') format('woff2'),
        url('./font/djOb8sxl7Vq.woff') format('woff'),
        url('./font/lPvUQPp1vwx.woff') format('woff');
}

body {
  padding-top: 3.5rem;
  font-family: Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif;
  font-size: 14px;
  
}

.jumbotron {
	background-image: url(../img/banner.jpg);
    background-position: 44% 64%;
    background-size: cover;
    border-radius: 0; 
    color: rgb(255, 255, 255);
}

.bg-dark {
    background-color: rgb(255, 255, 255)!important;
    /*color:rgb(242, 206, 19);*/
}
.btn-secondary {
    background-color: #f0512a;
    border-color: rgb(242, 206, 19);
}
.footer-link li{
	/*display: inline-block;*/
	list-style-type: none;
}
.nopadding{
	margin-right: 15px;
	margin-left: 15px;
}
.footer{
	padding-top: 10px;
	background-color: #4b4f56;
	color: rgb(255, 255, 255);
}
.btn-outline-success.active, .btn-outline-success:active,
 .show>.btn-outline-success.dropdown-toggle,.btn-outline-success:hover {
    color: #fff;
    background-color: #f0512a;
    border-color: rgb(240, 81, 42);
}
.btn-outline-success {
    color: rgb(240, 81, 42);
    background-color: transparent;
    background-image: none;
    border-color: #f0512a;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
.model-text{
	color:#90949c;
	padding: 9px;
    border: 1px solid #e9ebee;
}


@media(min-width: 767px)  {
	.center{
	margin: 0 auto;
	width:84%;
	}
	.box-model{
		width:25%;
		background-clip: padding-box;
	    box-sizing: border-box;
	    /*display: inline-block;*/
	    float: left;
	}
}
