/* Move down content because we have a fixed navbar that is 3.5rem tall */
@font-face {
  font-family:'Freight Sans';
  font-style:normal;
  font-weight:normal;
  src:  url('../font/BhgNmSeanJb.woff') format('woff2'),
        url('../font/djOb8sxl7Vq.woff') format('woff'),
        url('../font/lPvUQPp1vwx.woff') format('woff');
}

body {
  margin-top: 4.0rem;
  font-family: Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif;
  font-size: 17px;

}

.jumbotron{
  color: #fff;
  background-color: rgb(240, 81, 42);
  background-image: linear-gradient(-45deg, rgba(40,72,125,.00) 0%, rgb(240, 81, 42) 100%), linear-gradient(82deg, #f2ce13 0%, #f2ce13 100%);
  border-radius: 0;
}

.color_w{
  color:rgb(240, 103, 37)!important;
}

.bg-dark {
  background-color:rgb(255, 255, 255)!important;
  filter: alpha(opacity=60);/* IE */
  -moz-opacity: 0.8;/* Mozilla */
  /*opacity: 0.8;*/
}

.bg_trans{
  background-color:rgba(14, 8, 1, 0.6)!important;
}

.btn-secondary {
  background-color: #f0512a;
  border-color: rgb(242, 206, 19);
}


.footer-link li{
	list-style-type: none;
}

.nopadding{
	margin-right: 15px;
	margin-left: 15px;
}
.footer{
	padding-top: 15px;
	background-color:rgb(255, 255, 255)!important;
	color:rgb(240, 81, 42)!important;
  font-size: 16px !important;
}

footer a{
  color:rgb(240, 81, 42);
}

footer a:visited,a:hover,a:focus{
  color:rgb(240, 81, 42);
}

.btn-outline-success.active, .btn-outline-success:active,
 .show>.btn-outline-success.dropdown-toggle,.btn-outline-success:hover {
  color: #fff;
  background-color: #f0512a;
  border-color: rgb(240, 81, 42);
}

.btn-outline-success {
  color: rgb(240, 81, 42);
  background-color: transparent;
  background-image: none;
  border-color: #f0512a;
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.model-text{
  color:#90949c;
  padding: 9px;
  border: 1px solid #e9ebee;
}
@keyframes clapton-prod-fade-fly-in{
  0%{margin-top: 30px;}
  20%{margin-top: 30px;}
  100%{margin-top: 0px;}
 }

.effectclassm{
  -webkit-animation: clapton-prod-fade-fly-in 900ms 1 ease-out;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(240, 98, 39);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,98,39, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#main_content{
	width: 100%;
  height: 100%;
}

@keyframes clapton-prod-fade-in{
  0% {
    margin-top: -10px;
    opacity: 0;
   }
    100% {
    margin-top: 0;
    opacity: 1;
   }
}


hr {
    margin-top: 70px;
    margin-bottom: 70px;
  }

.btn-primary {
    color: #fff;
    background-color: #f05a28  !important;
    border-color: #f06725 !important;
}

.messenger{
    color: #007fff !important;
    background-color: rgb(255, 255, 255) !important;
}

 a.btn.btn-primary.btn-lg:active, a.btn.btn-primary.btn-lg:focus, a.btn.btn-primary.btn-lg:visited{
    border-color: #f06725 !important;
 }

 .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0;
 }

.btn-primary.active, .btn-primary:visited, .show>.btn-primary.dropdown-toggle,
.btn-primary:focus, .btn-primary:hover, .btn-lg:active, .btn-lg:visited,
.btn-lg:focus, .btn-lg:hover {
    color: #fff;
    background-color: #f06725 ;
    border-color: #f06725 !important;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.bottombgpart{
  padding: 8rem 2rem;
  color: #fff;
  background-color: rgb(240, 81, 42);
  background-image: linear-gradient(-45deg, rgba(40,72,125,.00) 0%, rgb(240, 81, 42) 100%), linear-gradient(82deg, #f2ce13 0%, #f2ce13 100%);
}

h4{
  text-decoration: underline;
}
.display-3 {
    font-size: 2.4rem !important;
  }
/*Small devices (landscape phones, 576px and up)*/
@media (min-width:576px){
  .display-3 {
    font-size: 2.5rem !important;
   }
  .h4, h4 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .h2, h2 {
    font-size: 1.5rem;
  }
  .effectclassx{
	  padding:0px;
  }

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px)  {
	.center{
		margin: 0 auto;
		width:84%;
	}
	.box-model{
		width:25%;
		background-clip: padding-box;
        box-sizing: border-box;
        /*display: inline-block;*/
        float: left;
	}
	.navbar-expand-md .navbar-collapse {
      display: inline-block !important;
  }
  .effectclassx{
	-webkit-animation: clapton-prod-fade-in 700ms ease-out 1;
	 padding:15px;
   }
   .display-3 {
    font-size: 3.4rem !important;
   }

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){
  .sectionpart{
    padding: 64px 16px 0 16px;
  }
  ._12mx {
    margin-top: 96px;
  }
  ._12mf {
    margin-top: 30px;
  }
  ._12mb{
    margin-bottom: 60px;
  }

  .colspan{
    background-clip: padding-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
  }
  ._16wx{
    width:16.66666666667%;
    padding: 0 0;
  }
  ._25wx{
    width:25%;
    padding: 0 30px;
  }
  .colspan img{
    margin-bottom: 25px;
  }
  .img1_2_5{margin-bottom: 33px;}
  .img3{margin-bottom:18px;}
  .img5{margin-bottom: 24px;}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
